# Getting started

In [86]:
# import pandas and alias it as pd
import pandas as pd

In [87]:
# import numpy and alias it as np
import numpy as np

np.array => An array structure similar to a Python list.  
np.ndarray => An n dimentional array.

pd.Series => An array-like dataset with a single column and indexes (row labels).  
pd.DataFrame => A table-like dataset representing multi column data.

In [88]:
# create a numpy array with 3 random numbers.
my_numpy_array = np.random.rand(3)

In [89]:
my_numpy_array

array([0.20727554, 0.96218206, 0.38914784])

In [90]:
# create a pandas series using the existing array
my_series = pd.Series(my_numpy_array)

In [91]:
my_series

0    0.207276
1    0.962182
2    0.389148
dtype: float64

In [92]:
# access an item in the series by index
my_series[0]

0.20727554454839314

In [93]:
my_series[1]

0.9621820564332704

In [94]:
my_series[2]

0.38914784157553417

We can createa Series using a custom index.

In [95]:
my_series = pd.Series(my_numpy_array, index=["First", "Second", "Third"])

In [96]:
my_series

First     0.207276
Second    0.962182
Third     0.389148
dtype: float64

In [97]:
# we can now access an item in the series by the label
my_series["Second"]

0.9621820564332704

In [98]:
# yet the integer based indexes are still available
my_series[1]

0.9621820564332704

In [99]:
# access the index for the series
my_series.index

Index(['First', 'Second', 'Third'], dtype='object')

In [100]:
# create an array with 2 columns and 3 rows
array_2d = np.random.rand(3, 2)

In [101]:
array_2d

array([[0.73584291, 0.6287852 ],
       [0.68752105, 0.65739819],
       [0.10447979, 0.24644874]])

In [102]:
# access array element in first row, first column
array_2d[0][0]

0.7358429120773209

In [103]:
# access array element in second row, first column
array_2d[1][0]

0.6875210545763721

In [104]:
# access array element in second row, second column
array_2d[1][1]

0.6573981929935672

In [105]:
# create a DataFrame using 2D array
df = pd.DataFrame(array_2d)

In [106]:
df

          0         1
0  0.735843  0.628785
1  0.687521  0.657398
2  0.104480  0.246449

In [107]:
# access element in column x row y
x = 0
y = 2
df[x][y]

0.1044797935036238

In [108]:
# access the columns for the DataFrame
df.columns

RangeIndex(start=0, stop=2, step=1)

In [109]:
df.columns = ["First", "Second"]

In [110]:
df

      First    Second
0  0.735843  0.628785
1  0.687521  0.657398
2  0.104480  0.246449

In [111]:
df["Second"]

0    0.628785
1    0.657398
2    0.246449
Name: Second, dtype: float64

In [112]:
df["Second"][0]

0.6287852035339744